*{margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
}

body{
  background: #243137;
  color:#fff;
}
html{
  scroll-behavior: smooth;
}

#imp{
  color:#BD9F67;
  font-size: 60px;
}

#header{
  width: 100%;
  height: 100vh;
  background-image: url(bg.png);
  /* opacity: 0.5; */
  background-size: cover;
  background-position: center;
}

  

.container{
  padding: 10px 10%;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -40px ;
  margin-right:5px;
}

.logo{
 
  width: 140px;
}
nav ul li{
  
  display: inline-block;
  list-style:none;
  margin: 1px 20px;
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 25px;
  position: relative;
}
nav ul li a::after{
content: '';
width: 0;
height: 3px;
background: #BD9F67;
position: absolute;
left: 0;
bottom: -6px;
transition: 0.5s;
}
nav ul li a:hover::after{
  width: 100%;
}

.header-text{
  margin-top: 10%;
  font-size: 30px;
}

.header-text h1{
  font-size: 40px;
  margin-top: 5px;
}
.header-text h1 span{
  color: #30DBE7;

}

/* ------------initiatives --------------------*/
#initiatives{
padding: 80px 0;
color:#30DBE7;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.initiatives-col-1{
  flex-basis: 35%;   
}
.initiatives-col-1 img{

  width: 100%;
  border-radius: 15px;
}
.initiatives-col-2{
  flex-basis: 60%;
}
.subtitle{
  font-size: 60px;
  font-weight: 600;
  color: whitesmoke;
}
.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}
.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after{
  content: ' ';
  width: 0;
  height: 3px;
  background: #BD9F67;
  position:absolute;
  left: 0;
bottom: -8px;
transition: 0.5s;
}
.tab-links.active-link::after{
  width: 50%;
}
.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
  color:#fff;
}
.tab-contents ul li span{
  color: #BD9F67;
  font-size: 14px;
}
.tab-contents{
  display: none;
}
.tab-contents.active-tab{
  display: block;
}
.para{
  color: #BD9F67;
}

/* i3*/

#services{
  padding: 30px 0;
}
.services-list{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  grid-gap:40px;
  margin-top:50px;
}
.faya{
  color: cyan;
}


.services-list div{
  background:darkslategray;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s,transform 0.5s;

}
.services-list div i{

  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a{
  text-decoration: none;
  color: #ff9fff;
  font-size: 12px;
  margin-top: 20px;
  display:inline-block;
}
.services-list div:hover{
  background:#BD9F67;
  transform: translateY(-10px);
}

/* --------------adventures------------- */


#adventures{
  padding: 50px 0;
}
.work-list{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  grid-gap:40px;
  margin-top:50px;
}

.work{
border-radius: 10px;
position: relative;
overflow: hidden;
}

.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer{
  width: 100%;
  height: 0;
  background:linear-gradient(rgba(0,0,0,0.6),#BD9F67);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a{
  margin-top: 20px;
  color: #BD9F67;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: white;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
}

.work:hover img{
  transform: scale(1.1);

}
.work:hover .layer{
  height: 100%;
}

.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  
  border: 1px solid #BD9F67;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: whitesmoke;
  transition:background 0.5s
}

.btn:hover{
  background: #BD9F67;
  color :#243137;
}

/* -------contact------------ */

.contact-left
{
  flex-basis: 35%;
}
.contact-right
{
  flex-basis: 60%;
}
.contact-left p{
  margin-top: 30px;
}
.contact-left p i{
  color:#BD9F67;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons{
  margin-top: 30px;
  color: #243137;

}

.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #BD9F67;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color:#30DBE7;
  transform: translateY(-5px);

}
.btn.btn2{
  display: inline-block;
  background-color: #BD9F67;
}
.btn.btn2:hover{
  background-color:darkslategray;
  color:#BD9F67;
}
.contact-right form{
  width: 100%;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #BD9F67;
  padding: 15px;
  margin: 15px 0;
  color: #243137;
  font-size: 18px;
  border-radius: 6px;
}
.form btn2{
  padding: 14px;
  font-size: 18px;
  margin-top: 20px;
 cursor: pointer;
}

.copyright{
  width: 100%;
  text-align: center;
  background-color: #1E282D;
  padding: 25px;
  font-weight: 300;
  margin-top: 20px;
}



/* -------------making responsive ---------- */
nav .fas{
  display:none
}

@media only screen and (max-width: 600px){
  #header{
    background-image: url(phnbg.jpg);
  }
  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }
  .header-text h1{
    font-size: 30px;
  }
  nav .fas{
    display:block;
    font-size: 25px;
  }
  nav ul{
    background: #BD9F67;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.7s;
  }
  nav ul li{
    display: block;
    margin: 25px;


  }
  nav ul .fas{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .subtitle{
    font-size: 40px;
  }
.initiatives-col-1,.initiatives-col-2{
  flex-basis: 100%;
}
.initiatives-col-1{
  margin-bottom: 30px;
}
.initiatives-col-2{
  font-size: 14px;
}
.tab-links{
  font-size: 16px;
  margin-right: 20px;
}

.contact-left,.contact-right{
  flex-basis: 100%;
}
.copyright{
  font-size: 14px;
}
}

#msg{
  color: #BD9F67;
  margin-top: -10px;
  display: block;
}

/* ------------------team members page ----------- */



body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.department {
  margin-bottom: 40px;
}

.department h2 {
  text-align: center;
  margin-bottom: 20px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-member {
  width: calc(25% - 20px);
  margin-bottom: 20px;
  background: linear-gradient(#BD9F67, black);
  padding: 5px;
  border-radius: 10px;
}

.team-member img {
  width: 100%;
  height: auto;
  border: 3px solid #2F4F4F;
  border-radius: 10px;
  transition: border-color 0.3s ease;
}

.team-member:hover img {
  border-color: #BD9F67;
}

.member-info {
  text-align: center;
}

.member-info h2 {
  margin-bottom: 5px;
}

.member-info p {
  color: grey;
}

.member-info p:hover {
  color: #BD9F67;
}

.team-member:hover {
  transform: scale(1.1);
  transition: transform 0.9s, background-color 0.3s;
  color: cyan;
  background-color: #2F4F4F;
}

.department {
  border: 4px solid #2F4F4F;
  padding: 20px;
  border-radius: 10px;
}

/* Making @team Responsive  */
@media (max-width: 1200px) {
  .container {
    padding: 15px;
  }
}

@media (max-width: 992px) {
  .team-member {
    width: calc(33.33% - 20px);
  }
}

@media (max-width: 768px) {
  .team-member {
    width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .team-member {
    width: calc(100% - 20px);
  }
}




